<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ProductManagement</display-name>
  <welcome-file-list>
    <welcome-file>form.html</welcome-file>
  </welcome-file-list>
  <!-- <servlet>
  <description></description>
  <display-name>ProductService</display-name>
    <servlet-name>ProductService</servlet-name>
    <servlet-class>com.marlabs.servlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProductService</servlet-name>
    <url-pattern>/ProductService</url-pattern>
  </servlet-mapping> -->
</web-app>